body {
    background: linear-gradient(230.4deg, #00f 30%, #0f0);
}

.header-H {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: gray;

    border: 2px solid black;
    border-radius: 30px;

    & h1 {
        text-align: center; 
        color: red;
    }
}

table {
    width: 400px;

    margin: 10px;
    padding: 10px;

    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;

    & th {
        border: 1px solid black;
    }

    &tr,td {
        padding: 8px;
        border: 1px solid white;
        text-align: center;
    }
}


.footer {
    width: 400px;
    position: fixed;

    bottom: 0;
    left: 0;
    background-color: black;

    & p {
        text-align: center;
        color: white;
    }
}